/* =========================
   SIDEBAR STYLES
========================= */

.sidebar {
  border-right: 1px solid rgba(255,255,255,0.08);
  padding: 18px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #007800;
}

.sidebar-brand {
  padding: 10px 10px 16px 10px;
}

.brand-title {
  font-size: 16px;
  font-weight: 700;
}

.brand-subtitle {
  font-size: 12px;
  color: rgba(255,255,255,0.65);
  margin-top: 4px;
}

.sidebar-nav {
  display: grid;
  gap: 8px;
  padding: 8px;
}

/* BOTÕES DO MENU */
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  border-radius: 10px;

  text-decoration: none;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;

  transition: all 0.2s ease;
}

.nav-link:hover {
  background-color: #aae137;
}

.nav-link.active {
  background: #007800;
  color: #fff;
}

.sidebar-footer {
  display: grid;
  gap: 10px;
  padding-top: 14px;
  text-align: center;
}

.muted {
  color: rgba(255,255,255,0.65);
}

/* Estilos para o menu expansível */
.nav-group {
  position: relative;
}

.nav-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0.75rem 1rem;
  color: inherit;
  font-size: inherit;
}

.nav-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.arrow {
  transition: transform 0.2s;
}

.nav-toggle.expanded .arrow {
  transform: rotate(90deg);
}

.submenu {
  display: none;
  padding-left: 1rem;
}

.submenu.expanded {
  display: block;
}

.submenu-link {
  padding: 0.5rem 1rem;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 0.9em;
}

.submenu-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.btn-ghost {
  background: #aae137;
  color: #fff;
  border: 1px solid #aae137;
  border-radius: 5px;
   height: 36px;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
}

.btn-ghost:hover {
  background: rgba(255,255,255,0.04);
}

.btn-secondary {
  background: rgba(255,255,255,0.08);
  color: rgba(255,255,255,0.92);
}

.btn-danger {
  background: var(--color-accent);
  color: #fff;
}

.btn-sm {
  height: 36px;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
}
