:root {
  --color-primary: #aae137; /* Light green */
  --color-secondary: #007800; /* Dark green */
  --color-accent: #f09020; /* Orange */
  --color-warning: #bfbf0f; /* Yellowish */
  --color-muted: #404435; /* Dark gray-green */
  --color-dark: #131313; /* Dark gray */
}

body {
  margin: 0;
  background: var(--color-dark);
  color: white;
  overflow: hidden;
}

#main {
  width: 75%;
  height: 100vh;
  float: left;
}

#kpis {
  width: 25%;
  height: 90vh;
  float: right;
  background: var(--color-muted);
}

#ticker {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: #222;
}
